.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    .title{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem;
        color: #C1BDDB;
        font-weight: bold;
        font-size: 1.4rem;
    }
    .sectionTitle{
        @extend .title;
        justify-content: center;
        color: #514F5C;
        font-size: 1.8rem;
        margin: 2rem 0;
    }
    .chartContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .descriptionContainer{
            width: 250px;
            height: 250px;
            border-radius: 25px;
            padding: 25px;
            color: white;
            background-color: #514F5C;
            .value{
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 3rem;
            }
            .description{
                text-align: center;
            }
        }
    }
}
.noMatchingResults{
    width: 100%;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #C1BDDB;
}