.primary{
    border: 2px solid #C1BDDB;
    padding: 1rem 1.8rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: .3s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    &:hover{
        border-color: #b0aadb;
    }
    &:focus{
        border-color: #b0aadb;
    }
}