.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .title{
        width: 100%;
        text-align: left;
        color: #C1BDDB;
        font-weight: bold;
        font-size: 1.4rem;
    }
    .content{
        flex-grow: 1;
        width: 100%;
        flex-direction: column;
        margin-top: 3rem;
        display: flex;
        overflow-y: auto;
        p{
            margin-top: 1rem;
            font-size: 1.4rem;
            .spanTitle{
                font-weight: bold;
                color: #C1BDDB;
            }
        }
    }
    .confirmationStep{
        @extend .content;
        justify-content: center;
        align-items: center;
        .confirmationStepTitle{
            @extend .title;
            text-align: center;
        }
        .confirmationStepButtons{
            margin-top: 1rem;
            display: flex;
            flex-direction: row;
            width: 80%;
            align-items: center;
            justify-content: space-around;
        }
    }
    .buttons{
        width: 100%;
    }
}